#main-el-header, #main-el-footer {
    background-color: #409EFF;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: larger;
}

#main-el-main {
    height: 600px;
}

    #main-el-main .el-row {
        margin-bottom: 20px;
    }

        #main-el-main .el-row:last-child {
            margin-bottom: 0;
        }

#main-el-aside {
    width: 200px;
    height: 600px;
}

    #main-el-aside > .el-menu {
        min-height: 600px;
    }
